body{
    margin:0px;
}

.cont-main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.cont-auth{
    width: 35vw;
    padding: 2rem;
}

.cont-auth__title{
    font-size:2.5rem;
    text-align: center;
}

.form{
    display: grid;
    grid-template-columns: 100%;
}

.form__field{
    padding: .8rem .2rem;
    margin-top: .5rem;
    font-size: 1rem;
    outline: none;
}

.form__field--name{
    font-size: 1.3rem;
    font-weight:600;
}

.form__btn{
    margin-top: 2rem;
    padding: .8rem .2rem;
    font-size: 1.2rem;
    color: white;
    background-color: black;
    border: none;
    cursor: pointer;
}

.form__btn:hover{
    transform: scale(1.01);
}
